<div class="bg-hero pt-16 mb-12 ">
    <div class="container mx-auto px-4 ">
      <div class="max-w-3xl mx-auto text-center ">
        <h1 class="text-4xl md:text-6xl font-bold text-blue-800 dark:text-blue-200 mb-6 transition-all duration-500">
          Welcome to Grade Calculator 
        </h1>
        <p class="text-xl text-gray-700 dark:text-gray-300 mb-8 transition-all duration-500">
          Easily calculate your grades for MISPE and Bio-Chem majors. Track your academic progress and stay on top of your studies with our user-friendly grade calculator.
        </p>
        <button (click)="togglePofile()" class="mt-3 bg-blue-500 text-white font-semibold py-3 px-8 rounded-full shadow-md hover:bg-blue-600 transition-colors duration-300">
          Check Score
        </button>
      </div>
    </div>
  </div>
  
  