<div class="bg-hero pt-16 mb-12 ">
    <div class="container mx-auto px-4 ">
      <div class="max-w-3xl mx-auto text-center ">
        <h1 class="text-4xl md:text-6xl font-bold text-blue-800 dark:text-blue-200 mb-6 transition-all duration-500">
          Welcome to Grade Calculator 
        </h1>
        <p class="text-xl text-gray-700 dark:text-gray-300 mb-8 transition-all duration-500">
          Easily calculate your grades for MISPE and CSVT majors. Track your academic progress and stay on top of your studies with our user-friendly grade calculator.
        </p>
        <button
        (click)="toggleProfile()" 
        class="glowing-button mt-3 bg-gradient-to-r from-blue-400 to-purple-400 dark:from-blue-600 dark:to-purple-700 text-white font-semibold py-3 px-8 rounded-full shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out relative overflow-hidden">
        Check Score
      </button>
      

      </div>
    </div>
  </div>
  
  